@model IEnumerable<B.A.S.S.Models.BusController>
@{
    ViewData["Title"] = "Your Details";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Bass, @TempData["DriverName"]</h1>
</div>
<div class="container">
    <div class="vertical-center">
        <table>
            <thead>
                 <tr><th>Name</th>
                <th>Start of Shift</th>
                <th>End of Shift</th>
                <th>Assigned Route</th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BusDriverName</td>
                        <td>@item.BusDriverStartShift</td>
                        <td>@item.BusDriverEndShift</td>
                        <td>@item.RouteID</td>
                        <a asp-area="" asp-controller="Home" asp-action="AbsenceReport" class="btn btn-md btn-primary">Report Absence</a>
                        <a asp-area="" asp-controller="Home" asp-action="IncidentReporter" class="btn btn-md btn-primary">Report A Incident</a>

                    </tr>
                    }
            </tbody>
        </table>
        <a asp-area="" asp-controller="Home" asp-action="BusIndex" class="btn btn-md btn-primary">Go To TimeTables</a>
          @foreach (var item in Model)
        {
            <p>Alert Messages :@item.IncidentMessage </p>
           
        }
    </div>
</div>