@model IEnumerable<B.A.S.S.Models.RouteController>
@{
    ViewData["Title"] = "Home Page";
    string CheckName = "A";

}
<html>
<div class="text-center">
    <h1 class="display-4">Welcome to B.A.S.S</h1>
    <p1>Please pick a route or view the drivers</p1>
</div>
<div class="container">
    <div class="vertical-center">
    <table>
        <thead>
            <tr>
                <th>Routes</th>
                <th>Route Number</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var item in Model){
          
            if (CheckName != @item.RouteName)
             {
            <tr>
            <td>@item.RouteDescription</td>
            <td>@item.RouteNumber</td>
            <td>
                  <a asp-area="" asp-controller="Home" asp-action="TimeTableViewer" class="btn btn-md btn-primary">View Timetable</a>
                  <a asp-area="" asp-controller="Home" asp-action="TimeTableEditor" class="btn btn-md btn-primary" asp-route-id="@item.RouteID">Edit TimeTable</a>
                                <html>
                                <head>
                                    <meta name="viewport" content="width=device-width, initial-scale=1">
                                    <style>
                                        body {
                                            font-family: Arial, Helvetica, sans-serif;
                                        }

                                        .modal {
                                            display: none; 
                                            position: fixed; 
                                            z-index: 1; 
                                            padding-top: 100px; 
                                            top: 0;
                                            width: 100%; 
                                            height: 100%; 
                                            overflow: auto; 
                                            background-color: rgb(0,0,0); 
                                            background-color: rgba(0,0,0,0.4);
                                        }

                                        .modal-content {
                                            background-color: #fefefe;
                                            margin: auto;
                                            padding: 20px;
                                            border: 1px solid #888;
                                            width: 80%;
                                        }

                                        .close {
                                            color: #aaaaaa;
                                            float: right;
                                            font-size: 28px;
                                            font-weight: bold;
                                        }

                                            .close:hover,
                                            .close:focus {
                                                color: #000;
                                                text-decoration: none;
                                                cursor: pointer;
                                            }
                                    </style>
                                </head>
                                <body>
                                    <button class="btn btn-md btn-primary" id="myBtn">Delete Route</button>
                                    <div id="myModal" class="modal">
                                        <div class="modal-content">
                                            <span class="close">&times;</span>
                                            <H1>ARE YOU SURE YOU WANT TO DELETE THIS ROUTE?</H1>
                                            <p><button type="submit">Yes</button></p>
                                        </div>
                                    </div>
                                    <script>
                                        var modal = document.getElementById("myModal");
                                        var btn = document.getElementById("myBtn");
                                        var span = document.getElementsByClassName("close")[0];
                                        btn.onclick = function () {
                                            modal.style.display = "block";
                                        }
                                        span.onclick = function () {
                                            modal.style.display = "none";
                                        }
                                        window.onclick = function (event) {
                                            if (event.target == modal) {
                                                modal.style.display = "none";
                                            }
                                        }
                                    </script>
                                </body>
                            </html>
                </td>
             </tr>
                }
                CheckName = @item.RouteName;
                }
        </tbody>
    </table>
        <a asp-area="" asp-controller="Home" asp-action="AddRoute" style=" width: 350px;" class="btn btn-md btn-primary"> Add New route</a>
    </div>
</div>
<a asp-area="" asp-controller="Home" asp-action="BusDriver" style="left: 100%; position: absolute; top : 27%" class="btn btn-md btn-primary"> View bus drivers</a>

</html>