@model IEnumerable<B.A.S.S.Models.RouteController>
@{
    ViewData["Title"] = "Home Page";
    string CheckName = "A";

}
<html>
<div class="text-center">
    <h1 class="display-4">Welcome to B.A.S.S</h1>
    <p1>Please pick a route or view the drivers</p1>
</div>
<a asp-area="" asp-controller="Home" asp-action="Index" asp-route-id ="@ViewData["Switch"]" class="btn btn-md btn-primary"> Switch to @ViewData["Direction"] routes</a>
<div class="container">
    <div class="vertical-center">
    <table>
        <thead>
            <tr>
                <th>Route Number</th>
                <th>Routes</th>
                <th>This bus is late by</th>
                <th>Day schedule</th>
            </tr>
        </thead>
        <tbody>
         @foreach (var item in Model){
          
            if (CheckName != @item.RouteName)
             {
            <tr>
            <td style="background-color : @item.Colour ">@item.RouteNumber</td>
            <td>@item.RouteDescription</td>
            <td>@item.LateTime minutes</td>
            <td>@item.RunningSummary</td>
            <td>
                  <a asp-area="" asp-controller="Home" asp-action="TimeTableViewer" class="btn btn-md btn-primary" asp-route-id="@item.RouteID">View Timetable</a>
                  <a asp-area="" asp-controller="Home" asp-action="TimeTableEditor" class="btn btn-md btn-primary" asp-route-id="@item.RouteID">Edit TimeTable</a>
                  <a asp-area="" asp-controller="Home" asp-action="TImeTableDelete" class="btn btn-md btn-primary" asp-route-id="@item.RouteID">Delete TimeTable</a>
                </td>
             </tr>
                }
                CheckName = @item.RouteName;
                }
        </tbody>
    </table>
        <a asp-area="" asp-controller="Home" asp-action="AddRoute" style=" width: 350px;" class="btn btn-md btn-primary"> Add New route</a>
        <a asp-area="" asp-controller="Home" asp-action="Alerts"  class="btn btn-md btn-primary">Send out alert</a>
        <a asp-area="" asp-controller="Home" asp-action="BusDriver" class="btn btn-md btn-primary"> View bus drivers</a>
        <a asp-area="" asp-controller="Home" asp-action="LogInPage" class="btn btn-md btn-primary"> Log out</a>
     </div>
</div>

</html>