@model B.A.S.S.Models.StopController

@{
    ViewData["Title"] = "Add Stop";
}
@using (Html.BeginForm()){
    <div class="text-center">
    <h1 class="display-4">Bus route</h1>
    <p1>You are adding a new stop to Route</p1>
    <p>Current time</p>
      <p  class = "form-control"> 
          <label>New stop ID</label>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </p>
        <p class="form-control">
        <label >Insert Route ID</label>
            @Html.TextBoxFor(x => x.RouteID, new {@class = "form-control"  })
    </p>
        <p class="form-control">
        <label>Insert Stop Name</label>
            @Html.TextBoxFor(x => x.StopName, new {@class = "form-control"  })
    </p>
        <p class="form-control">
        <label>Insert New Time</label>
            @Html.TextBoxFor(x => x.StopTime, new {@class = "form-control"  })
    </p>
        <p class="form-control">
            <label>Insert Name of Route</label>
            @Html.TextBoxFor(x => x.RouteName, new {@class = "form-control"  })
        </p>
        <button  class="btn btn-md btn-primary" type="submit" >Add Stop</button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-md btn-primary">Go Back</a>
    </div>
 }

