@{
    ViewData["Title"] = "TimeTable Editor";
    string CheckName = "A";

}
<div class="text-center">
    <h1 class="display-4">Route Name</h1>
    <p1>Route Descripton</p1>

</div>
<div class="container">

    <a asp-area="" asp-controller="Home" asp-action="StopAdder" class="btn btn-md btn-primary">Add stop</a>
    <a style="left: 50%; position: absolute;" asp-area="" asp-controller="Home" asp-action="TimeTableEditor" class="btn btn-md btn-primary">List of drivers on route</a>
    <a style="left: 50%; position: absolute; top : 30%;" asp-area="" asp-controller="Home" asp-action="TimeTableEditor" class="btn btn-md btn-primary">Delete Route</a>
    <table>
        <thead>
        <tr>
            @foreach (var item in Model)
            {
                <td>@item.RouteName</td>

            }
        </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (ViewData["ID"] == @item.RouteID)
                {
                    if (CheckName != @item.StopName)
                    {
                        <tr>

                            <td>@item.StopName</td>
                            @foreach (var item2 in Model)
                            {
                                if (item2.StopName == item.StopName)
                                {
                                    <td>
                                        @item2.StopTime
                                        <a asp-area="" asp-controller="Home" asp-action="TimeFrameEdit" class="btn btn-md btn-primary">Edit Timeslot</a>
                                    </td>


                                }
                            }

                        </tr>
                        CheckName = @item.StopName;

                    }
                }
            }

        </tbody>
    </table>
</div>