@model B.A.S.S.Models.StopController
@{
    ViewData["Title"] = "TimeFrame Editor";
}
@using (Html.BeginForm()){

<div class="text-center">
        <p><h1 class="display-4">Bus route @ViewData["RouteName"] </h1></p>
        <p> <p1>You are editing @ViewData["Time"]  at @ViewData["Name"]</p1>
        <p>
            <label for="New Time">Insert ID</label>
            <input type="number" id="NewTime" name="NewTime" asp-for="ID">
        </p>
        <p>
            <label for="New Time">Insert Route ID</label>
            <input type="number" id="NewTime" name="NewTime" asp-for="RouteID">
        </p>
        <p>
            <label for="New Time">Insert New Time</label>
        <p class="form-control">
            <label>New stop Time</label>
           @Html.TextBoxFor(x => x.StopTime, new { })
        </p>

        </p>
  
    <label for=" TimeFrameChoices">Timeframe options</label>
    <select name="TimeFrameChoices" id="TimeFrameChoices" style="width: 200px;">
        <option value="placeholder">Please Select</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Weather_delay">Weather delay</option>
        <option value="Traffic_Delay">Traffic delay</option>
        <option value="Bus_Driver_Delay">Bus Driver Delay</option>
    </select> <br />
    <button type="submit" class="btn btn-md btn-primary" >Apply Edit</button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-md btn-primary" >Go Back</a>
</div>
}
<div class="text-center">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
    </style>
</head>
    <button class="btn btn-md btn-primary" id="myBtn">Delete Stop</button>
 
    @using (Html.BeginForm("TimeFrameDelete", "Home", FormMethod.Post))
        {
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <H1>ARE YOU SURE YOU WANT TO DELETE @ViewData["Time"]  At @ViewData["Name"]?</H1>
                    <p class="form-control">
                        <label for="New Time">STOP ID</label>
                         @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
                    </p>
                    <p><button class="btn btn-md btn-primary" type ="submit">Delete ID </button></p>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-md btn-primary">Cancel</a>
            </div>
        </div>
        }
    </div>
    }
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];
        btn.onclick = function () {
            modal.style.display = "block";
        }
        span.onclick = function () {
            modal.style.display = "none";
        }
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

</div>
